<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/vendor/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="static/vendor/main.css">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% include 'include/sidebar.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
      {% include 'include/nav.html' %}


      <div class="container-fluid">
        <h1 class="mt-4">All Desks</h1>
        <p>
          <table border="1">
            <tbody>
              {% for desk in all_desks %}
                {% if loop.index0 % 6 == 0 %}
                  <tr>
                {% endif %}
                  <td><img src="static/images/desk.png" alt="Desk Icon" />
                    {{ desk['desk_number'] }}
                    {#
                    {% for i, j in desk.items() %}

                      {{ i }} : {{ j }}
                    {% endfor %}
                    #}
                  </td>
                {% if loop.index0 % 6 == 5 %}
                  </tr>
                {% endif %}


                {% if loop.index0 % 12 == 11 %}
                  <tr><td colspan="6">&nbsp;</td></tr>
                {% endif %}

              {% endfor %}
            </tbody>
          </table>
        </p>
        <div class=""></div>

      </div>

    </div> <!-- /#page-content-wrapper -->

  </div> <!-- /#wrapper -->

  {% include 'include/bottom-js.html' %}

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $(document).ready(function() {

  });
  </script>

</body>

</html>
