<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/vendor/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="static/vendor/main.css">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% include 'include/sidebar.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% include 'include/nav.html' %}


      <div class="container-fluid">
        <p>
        <table>
            <tbody>
                <tr><td> Key </td><td>Value</td></tr>
              {% for desk in available_desks %}
                {% for i, j in desk.items() %}
                    <tr>
                      <td>{{ i }}</td>
                      <td>{{ j }}</td>
                    </tr>
                {% endfor %}
                <tr><td>&nbsp;</td><td></td></tr>
              {% endfor %}
            </tbody>
        </table>
        </p>
      </div>

    </div> <!-- /#page-content-wrapper -->

  </div> <!-- /#wrapper -->
  <div id="legend21"></div>

  {% include 'include/bottom-js.html' %}

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    var firstSeatLabel = 1;

    $(document).ready(function() {
        i=67;
        while (i < 159){
          //int(floor), int(desk_number), name, int(standing_desk), notes)
          // $('#legend21').append("INSERT INTO all_desks(floor,desk_number,name,standing_desk,notes) VALUES(1,"+i+",'user"+i+"',"+(Math.floor(Math.random() * 2))+",'');");
          // $('#legend21').append("INSERT INTO available_desks(all_desks_id,available_types_id,date) VALUES("+i+","+ (Math.floor(Math.random() * 3) + 1)  +",'2019-11-"+(Math.floor(Math.random() * 29) + 1)  +"');");
          i++;
        }

    });
  </script>

</body>

</html>
