<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/vendor/simple-sidebar.css" rel="stylesheet">
  <link rel="stylesheet" href="static/vendor/main.css">
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% include 'include/sidebar.html' %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% include 'include/nav.html' %}


      <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <div id="legend21"></div>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery.min.js"></script>
  <script src="static/vendor/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    var firstSeatLabel = 1;

    $(document).ready(function() {
        i=67;
        while (i < 159){
          //int(floor), int(desk_number), name, int(standing_desk), notes)
          // $('#legend21').append("INSERT INTO all_desks(floor,desk_number,name,standing_desk,notes) VALUES(1,"+i+",'user"+i+"',"+(Math.floor(Math.random() * 2))+",'');");
          // $('#legend21').append("INSERT INTO available_desks(all_desks_id,available_types_id,date) VALUES("+i+","+ (Math.floor(Math.random() * 3) + 1)  +",'2019-11-"+(Math.floor(Math.random() * 29) + 1)  +"');");
          i++;
        }

    });
  </script>

</body>

</html>
